body {
  width: 100vw;
  height: 100vh;
  background-color: #212529;
  margin: 0;
  margin-top: 50px;
}

.toolbar {
  display: flex;
  position: fixed;
  background-color: #343a40;
  top: 0;
  width: 100vw;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

#profile {
  display: flex;
  font-size: 24px;
}

#username {
  color: white;
  margin-right: 5px;
}

#profilePic {
  color: white;
  background-color: #212529;
  height: 36px;
  width: 36px;
  border: 1px solid black;
  border-radius: 90px;
  margin-right: 5px;
  font-size: 20px;
}

.threeLines {
  height: 40px;
  width: 25px;
}

#sidebar {
  border: none;
  background-color: transparent;
  transition: transform 0.5s;
}
